<h1>Cambiar respuesta</h1>
  <form action="<%= updateAnswerPath %>" method="post">
    <input type="hidden" name="_method" value="patch" />
    
    <div>
      <label for="body">Nueva respuesta</label>
      <input type="text" name="body"></input>
    </div>
    <div>
      <input type="submit" name="update" value="Cambiar respuesta" />
    </div>
  </form>
</div>