<div>
  <form id="submit_tagquestion" action="<%= submitTagquestionPathBuilder(tagId, questionId) %>" method="post">
<!--     <div>
      <input type="text" name="questionId" value="<%= tagquestion.questionId %>" />
    </div>
    <br>
    <div>
      <input type="text" name="tagId" value="<%= tagquestion.tagId %>" />
    </div> -->
    <br>
    <div>
      <input type="submit" name="create" value="Create Tagquestion" />
    </div>
  </form>
</div>