<h1>El identificador de esta tagquestion es <%= tagquestion.id %></h1>
<p>Identificador de la pregunta asociada: <%= tagquestion.questionId %></p>
<p>Identificador de la tag asociada: <%= tagquestion.tagId %></p>