<h1><%= user.name %></h1>

<form action="<%= deleteAnswerPath %>" method="post">
	<input type="hidden" name="_method" value="delete" />
	<div>
	  <input type="submit" name="delete" value="Delete Answer" />
	</div>
</form>
