  <form action="/questions/<%= questionId %>" method="get">
    <div>
    <p>/questions/<%= questionId %></p>
      <input type="submit" name="show" value="Volver a la pregunta" />
    </div>
  </form>