



<p>
  Selecciona el archivo a subir
  <form action="/hello" enctype="multipart/form-data" method="post">

    <input type="file" name="uploads" multiple="multiple"><br>
    <input type="submit" value="Subir">
  </form>
</p>
