<div>
  <form id="submit_tag" action="<%= submitTagPath %>" method="post">
    <div>
      <label for="name">Asunto</label>
      <input type="text" name="name" value="<%= tag.name %>" /></input>
    </div>
    <br>
    <div>
      <input type="submit" name="create" value="Create Tag" />
    </div>
  </form>
</div>