<h1>Etiquetas</h1>

<ul>
  <% tags.forEach((tag) => { %>
    <li>Nombre de la etiqueta: <%= tag.name %></li> 
  <% }) %>
  <% if (tags.length == 0) { %>
    <h3>Aún no se han creado usuarios. ¡Se tú el primero!</h3>
  <% } %>
</ul>
