<h1><%= tag.name %> cuyo estado es <%= tag.active %></h1>

<h2>Estos son los títulos de las preguntas asociadas a la tag</h2>
<ul>
  <% questions.forEach((question) => { %>
    <li><%= question.title %></li>
  <% }) %>
</ul>
  <% if (questions.length == 0) { %>
  	<h3> No existe aún ninguna pregunta asociada </h3>
  <% } %>

<!-- <h2>Estos son los identificadores de las relaciones tagquestion de esta tag</h2>
<ul>
  <% tagquestions.forEach((tagquestion) => { %>
    <li><%= tagquestion.id %></li>
  <% }) %>
</ul> -->