<h1>Nuevo M贸dulo</h1>


<div>
  <form action="<%= submitModulePath %>" method="post">
    <% if (!mod.isNewRecord) { %>
      <input type="hidden" name="_method" value="post" />
    <% } %>
    <div>
      <label for="name">Nombre del m贸dulo</label>
      <input type="text" name="name" value="<%= mod.name %>" /></input>
    </div>
    
    <br>
    <% if (!mod.isNewRecord) { %>
      <div>
        <input type="submit" name="update" value="Modificar M贸dulo" />
      </div>
    <% } else {%>
      <div>
        <input type="submit" name="create" value="Crear M贸dulo" />
      </div>
    <% } %>
  </form>
</div>