<h1 class="to_center">Mail</h1>

<div class="to_center">
  <form id="submit_question" action="<%= submitMailPath %>" method="post">
       <div>
      <label for="name">Asunto</label>
      <input type="text" name="title" value="<%=title%>"/></input>
    </div>
    <br>
    <div>
      <label for="body">Cuerpo</label>
      <textarea type="text" name="body" value="<%=body%>"></textarea>
    </div>
    <br>
    
      <div>
        <input type="submit" name="create" value="Send email" />
      </div>
    
  </form>
</div>