<h1>Registrarse</h1>
  <form action="<%= createUserPath %>" method="post">
    <div>
      <label for="name">Nombre de usuario</label>
      <input type="text" name="name" value="<%= user.name %>" /></input>
    </div>
    <div>
      <label for="password">Contraseña</label>
      <input type="text" name="password"><%= user.password %></input>
    </div>
    <div>
      <input type="submit" name="create" value="Sign Up" />
    </div>
  </form>
</div>
