#users-list {
  padding-bottom: 50px;
}

#user_perfil {
    padding-bottom: 50px;
    margin: 150px 10px;
    border: 1px solid #bbb;
    border-radius: 10px;
    max-width: 600px;
    flex: 1 1 100%;
    list-style: none;
    overflow: hidden;

    div {
      display: block;
      float: center;
      padding: 20px;
      text-decoration: none;

      input {
        padding: 5px;
        display: inline-block;
        width: 20%;
        &:hover {
          background: lighten($wican-blue, 50);
        }
      };
    }
  }

.to_center {margin: 10px 400px;}

#submit_user {
    margin: 30px 400px;
    border: 1px solid #bbb;
    border-radius: 10px;
    max-width: 1000px;
    flex: 1 1 100%;
    list-style: none;
    overflow: hidden;
    position: fixed;

    div {
      display: block;
      margin: 0px;
      float: center;
      padding: 20px;
      color: $wican-blue;
      text-decoration: none;

      input {
        padding: 5px;
        display: block;
        width: 300px;
        &:hover {
          background: lighten($wican-blue, 50);
          
        }
      };
      label {
        text-align: right;
      }
      #new_session-button{
        float: center;
      }
    }
  }