<h1><%= user.name %></h1>
<div id="user_perfil">
  <div id="user_image">
    <img src="/assets/user.png" alt="Logo" />
  </div>
<!--   <form action="<%= deleteUserPath %>" method="post">
    <input type="hidden" name="_method" value="delete" />
    <div>
      <input type="submit" name="delete" value="Delete User" />
    </div>
  </form> -->
  <form action="<%= editUserPath %>" method="get">
    <div>
      <input type="submit" name="edit" value="Edit User" />
    </div>
  </form>
  <form action="<%= questionsPath %>" method="get">
    <div>
      <input type="submit" name="show" value="View Questions" />
    </div>
  </form>
</div>

