<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>wican</title>
  </head>

  <body>
  	<header>
  		<nav>
  		  <a href="<%= usersPath %>">Usuarios</a>
  		</nav>
  	</header>
	  <% if (locals.errors) { %>
	    <div class="errors">
	      Necesitas arreglar los siguiente errores:
	      <ul>
	        <% errors.forEach(error => { %>
	          <li><%= error.message %></li>
	        <% }); %>
	      </ul>
	    </div>
	  <% } %>
    <%- body %>
  </body>

</html>
